$font-size-normal: 0.875em
$font-size-content: 1.2em

$blue-7: #1a8ac7
$blue-6: #1d99de
$blue-5: #30a4e4
$blue-4: #47aee7
$blue-3: #5eb8ea
$blue-2: #74c2ed
$blue-1: #8bccf0

$red-1: #ef8b90
$red-2: #ec757b
$red-3: #e95e65
$red-4: #e64850
$red-5: #e3323b
$red-6: #dd1e28
$red-7: #c61b24

$black-text-1: #343a40
$black-text-2: #3f474e
$black-text-3: #4b545c
$black-text-4: #56606a

$grey-1: #c8cdd2
$grey-2: #d6dadd
$grey-3: #e4e7e9
$grey-4: #f2f3f4

$phone: "(min-width: 320px) and (max-width: 767px)"
$tablet: "(min-width: 768px) and (max-width: 1023px)"
$desktop: "(min-width: 1024px)"
$lower-than-desktop: "(max-width: 1023px)"

$h1: 3.5em
$decreaseBy: 0.5em

$default-border: 3px


$input-height: 35px
